header {
    background-color: #212529;
    color: white;
}

.search-col {
    background-color: whitesmoke;
}

.search-col div form .btn {
    background-color: cornflowerblue;
    color: white;
} 

.results .future-lists {
    list-style: none;
    color: white;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
}

.results div div p span {
    width: 50px;
    height: 26px;
    text-align: center;
    border-radius: 3px;
    color: white;
}

.flex {
    display: flex;
}

.full-width {
    width: 100%;
}

